.root{
    -fx-background-image: url('../images/bluShadow.jpg');
}

.blue-bg{
    -fx-background-image: url('../images/bluShadow.jpg');
}


.red-bg{
    -fx-background-image: url('../images/06.gif');
}

.white-bg{
    -fx-background-color: white;
}

.about-label{
    -fx-font: bold 16 serif;
    -fx-text-fill: white;
}

.buttonSave{
    -fx-graphic: url('../images/button_ok.png');
}

.buttonCancel{
    -fx-graphic: url('../images/undo.png');
}
